@font-face {
  font-family: "Noto Serif JP";
  src: url("../fonts/Noto_Serif_JP/NotoSerifJP-Regular.otf");
}

@font-face {
  font-family: "Noto Serif TC";
  src: url("../fonts/Noto_Serif_TC/NotoSerifTC-Regular.otf");
}
