$indigo: #3f51b5;
$pink: #e91e63;
$grey: #424242;
$lightgrey: #e0e0e0;
$white: #ffffff;
$header-mask: rgba($grey, 0.3);

$tablet: 1080px;
$mobile: 480px;

$maxwidth: 1080px;
$header-height: 300px;
$header-width: 600px;
$footer-height: 150px;
$blog-max-height: 600px;
