// @import './_typography.scss';
@import './_variables.scss';
@import './mixin';

@import './layout.scss';
@import './loader.scss';
@import './grid-view.scss';
@import './post.scss';
@import "./paper.scss";
@import "./avatar.scss";

.max-width {
  max-width: $maxwidth;
}

.center-view {
  @include flex(column, nowrap);
  @include flex-align();
  width: 100%;
}

.latest-post-list {
  width: 100%;
}

.split-line {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: $lightgrey;
}
