.mg-0 {
  margin: 0;
}

.mg-auto {
  margin: auto;
}

@for $i from 2 through 32 {
  @if $i % 2 == 0 {
    .mg-tb-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }

    .mg-lr-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }

    .mg-t-#{$i} {
      margin-top: #{$i}px !important;
    }

    .mg-b-#{$i} {
      margin-bottom: #{$i}px !important;
    }

    .mg-l-#{$i} {
      margin-left: #{$i}px !important;
    }

    .mg-r-#{$i} {
      margin-right: #{$i}px !important;
    }
  }
}

@for $i from 2 through 32 {
  @if $i % 2 == 0 {
    .pd-#{$i} {
      padding: #{$i}px;
    }

    .pd-tb-#{$i} {
      padding-top: #{$i}px !important;
      padding-bottom: #{$i}px !important;
    }

    .pd-lr-#{$i} {
      padding-left: #{$i}px !important;
      padding-right: #{$i}px !important;
    }

    .pd-t-#{$i} {
      padding-top: #{$i}px !important;
    }

    .pd-b-#{$i} {
      padding-bottom: #{$i}px !important;
    }

    .pd-l-#{$i} {
      padding-left: #{$i}px !important;
    }

    .pd-r-#{$i} {
      padding-right: #{$i}px !important;
    }
  }
}
